body{
    background: url(/Recursos/imagenes/Villamarin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'EB Garamond', serif;
}
header{
    margin-top: -7.53px;
    margin-left: -8px;
    width: 100%;
    overflow: hidden;
    background: rgb(78, 110, 129);
    margin-bottom: 20px;
    position: fixed;
}
.wrapper {
    width: 100%;
    max-width: 1000px;
    margin-left: 50px;
    display: flex;
    

}
.logo{
 
    font-size: 38px;
    display: inline-block;
    font-weight:bold ;
    text-align: left;

}
header nav{
    display: inline-block;
    line-height: 70px;
    margin-left: 70px;
    text-align: right;
    margin-left: 35px;
 
}
header nav a{
    display: flex;
    display: inline-block;
    color: azure;
    text-decoration: none;
    line-height: 30px;
    margin-right: 25px;
    font-size: 20px;
    font-weight:bold ;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition:all 500ms ease ;
}
header nav a:hover{
    background: rgb(0, 158, 255);
    border-radius: 50px;

}

.jugadores{
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(181, 213, 197);
    margin-left: 16px;
    margin-right: 10px;
    margin-top: 85px;
    display: inline-block;
    font-size: 18px;
    height: 560px;
    width: 288px;
    margin-bottom: -30px;
    
}
.jugador{
    margin-top: 1.2px;
    height: 180px;
    width: 290px;
    border-radius: 18%;

}
h4{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    font-weight:bold ;
    margin-top: 50px;
}
.titulo_seccion{
    color: aliceblue;
}
.copy{
    color: aliceblue;
    font-size: 20px;
    
}
.redes_sociales{ 
    display: flex;
    justify-content: center;
}
.redes_sociales i{
    font-size: 40px;
    padding: 0 25px 0 25px;
}


